
$photography-text: hsl(198, 62%, 26%);
$primary-text-color:hsl(167, 40%, 24%);
$footer-text-color:  hsl(168, 34%, 41%);
$background-color:hsl(51, 100%, 49%);
$red:hsl(7, 99%, 70%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$time: 250ms;

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
body {
  height: 100%;
  line-height: 1;
  font-family: Barlow;
  font-size: 18px;
  line-height: 2;
 // flex-direction: column;
  //display: flex;
  //color: $primary-text-color;
}
.container {
  //margin: 0px auto;
  min-width: calc(1280px + 160px);
  padding: 0;
  
}
