html {
  scroll-behavior: smooth;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

li, ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

body {
  height: 100%;
  font-family: Barlow;
  font-size: 18px;
  line-height: 2;
}

.container {
  min-width: 1440px;
  padding: 0;
}

.header-container {
  background: url("image-header.7852253d.jpg") center / cover no-repeat;
  min-width: 100%;
  min-height: 100%;
}

.header-menu {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15%;
  padding-top: 120px;
  display: flex;
}

.logo {
  background-size: contain;
  justify-content: center;
  align-items: center;
  margin: auto auto auto 5%;
  display: flex;
}

.logo-img {
  width: 350px;
}

.nav {
  width: 40%;
}

.nav__list {
  justify-content: space-around;
  display: flex;
}

.nav__item {
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  display: flex;
}

.nav__item:hover {
  opacity: .5;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}

.nav__link {
  color: #fff;
  font-family: Barlow, sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.nav__link:hover {
  color: #19536b;
  font-family: Barlow, serif;
  font-size: 24px;
}

.header__hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1000px;
  display: flex;
}

.header__title {
  color: #fff;
  padding-bottom: 18%;
  font-family: Fraunces, serif;
  font-size: 70px;
  line-height: 1.2;
}

.header__btn {
  background-color: #1c1c1c00;
}

.btn {
  width: auto;
  height: 200px;
}

.about-container {
  height: auto;
}

.about__list {
  flex-flow: wrap;
  gap: 0;
  display: flex;
}

.about__item {
  width: 50%;
}

.about__item-small {
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  display: flex;
  position: relative;
  top: -250px;
  left: 20%;
}

.about-description {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 60%;
  margin: 15%;
  display: flex;
}

.about__title {
  color: #23303e;
  padding-bottom: 20px;
  font-family: Fraunces, serif;
  font-size: 40px;
  line-height: 1.35;
}

.about__title-small {
  color: #23303e;
  padding-bottom: 20px;
  font-family: Fraunces, serif;
  font-size: 30px;
  line-height: 1.35;
}

.about-text, .about-text-small {
  color: #5a636c;
  padding-bottom: 35px;
  font-family: Barlow, serif;
  font-size: 22px;
  line-height: 1.35;
}

.about-text-small {
  text-align: center;
  padding-bottom: 35px;
}

.about__btn {
  color: #23303e;
  cursor: pointer;
  background-color: #1c1c1c00;
  font-family: Fraunces, serif;
  font-size: 30px;
}

.about__btn:hover {
  -webkit-text-decoration: underline wavy #fad400;
  text-decoration: underline wavy #fad400;
}

.about__btn:hover:last-child {
  -webkit-text-decoration: underline wavy #fe7867;
  text-decoration: underline wavy #fe7867;
}

.about__img {
  width: 100%;
  height: 100%;
}

.clients-container {
  background-color: #fff;
  height: auto;
}

.clients__title {
  color: #818498;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 150px;
  padding-bottom: 100px;
  font-family: Fraunces, serif;
  font-size: 36px;
  line-height: 1.35;
}

.clients__list {
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 200px;
  display: flex;
}

.clients__item {
  text-align: center;
  width: 30%;
}

.clients__img {
  border-radius: 100px;
  margin: 50px auto;
}

.clients-text {
  color: #818498;
  margin-bottom: 100px;
  font-family: Barlow, serif;
  font-size: 28px;
  line-height: 1.6;
}

.clients__name {
  color: #25564b;
  margin-bottom: 36px;
  font-family: Fraunces, serif;
  line-height: 1.6;
}

.clients-works {
  color: #a7abae;
  font-family: Barlow, serif;
  font-size: 24px;
}

.gallery__list {
  background-repeat: repeat-x;
  display: flex;
}

.gallery__img {
  background-size: cover;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.gallery__img:hover {
  transform: rotateY(180deg);
}

.gallery__item {
  width: 25%;
  height: auto;
}

.footer-container {
  background: #55d8be;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
}

.footer__logo-img {
  fill: #458c7e;
  text-align: center;
  width: 250px;
  height: 50px;
  margin: 100px auto;
}

.footer__logo-img:hover {
  fill: #fff;
}

.footer__list, .footer-icon__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer__link {
  color: #458c7e;
  cursor: pointer;
  font-family: Barlow, serif;
  font-size: 26px;
}

.footer__link:hover, .footer__link:focus {
  color: #fff;
}

.footer__nav-a {
  width: 450px;
  margin-bottom: 100px;
}

.footer__nav-b {
  width: 400px;
  margin-bottom: 150px;
}

.footer-icon {
  fill: #458c7e;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.footer-icon:hover, .footer-icon:focus {
  fill: #fff;
}

/*# sourceMappingURL=index.b07a87f3.css.map */
